.title-level-2 {
	font-weight: 600;
	font-size: clamp(14px, 3vw, 32px);
	line-height: 42px;
	color: #18191f;
	text-transform: capitalize;
	font-family: "Poppins";
}

.title-level-2::after {
	display: block;
	content: "";
	width: 100px;
	height: 3px;
	background-color: #cc1b0b;
	margin-bottom: 3rem;
}
.about-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 1px;
	color: #000000;
	text-align: justify;
}

.about-text li::before {
	display: block;
	content: "";
	min-width: 10px;
	min-height: 10px;
	height: 10px;
	background-color: #cc1b0b;
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 10px;
}
.about-text li {
	display: flex;
	align-items: stretch;
}

.react-multi-carousel-track {
	padding: 20px 0 !important;
	margin-bottom: 30px !important  ;
	gap: 10px;
}
.react-multi-carousel-item {
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.react-multiple-carousel__arrow {
	background: #cc1b0b !important;
	box-shadow: 0px 7.03125px 19.5312px rgb(0 0 0 / 6%) !important;
	border-radius: 26.087px;
	z-index: 50;
	/* color: #000000 !important; */
}
.react-multi-carousel-dot-list {
	gap: 3px !important;
}
.react-multiple-carousel__arrow--left {
	left: calc(4% + -50px) !important;
}
.react-multiple-carousel__arrow--right {
	right: calc(4% + -50px) !important;
}
.react-multi-carousel-dot button {
	background: #c4c4c4;
	border: none !important;
	border-color: transparent;
	width: 8px;
	height: 8px;
	margin-right: 3px;
}
.react-multi-carousel-dot--active button {
	background: #cc1b0b !important;
	width: 10px !important;
	height: 10px !important;
}


.download-link {
	display: block;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 3px;
	font-weight: 500;
}
.download-link:hover {
	color: #cc1b0b;
}
.card-custom-title {
	font-size: clamp(14px, 2vw, 20px);
}
.member-card-name {
	font-family: "Poppins";
	font-size: 16px;
	line-height: 18px;
}
.member-function {
	font-size: 12px;
	color: #cc1b0b;
	font-style: italic !important;
}
.banner-title  h4{
	font-family: "Poppins";
	font-size: clamp(16px, 2.7vw, 30px);
	white-space: nowrap;
}