.app-nav-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	color: #000000;
}
.active-link, .app-nav-link:hover, .app-nav-link:focus {
    color: #CC1B0B;
}
