header {
	position: sticky;
	top: 0;	
	z-index: 100;
}
.top-header {
	padding: 0.7rem;
	background-color: rgb(248 250 252);
}

.top-header a {
	color: #000000;
	text-decoration: none;
	font-size: clamp(12px, 2vw, 16px);
	font-weight: 500;
	opacity: 0.7;
}
.top-header a:hover {
	opacity: 1;
}
.wontanara-banner {
	background-image: url("../../assets/images/carousel1.jpg");
	height: 600px;
	background-size: cover;
	background-position: center;
	z-index: 10;
}
 .banner-effect {
	background-color: #cc1b0b;
	height: 100%;
	width: 100%;
	opacity: 0.2;
} 
.banner-text {
	z-index: 100;
}
.banner-title {
	color: #ffffff;
	text-decoration: none;
	font-size: clamp(14px, 3vw, 40px);
	font-weight: 700;
}
