footer.footer {
	background-color: #21232a;
	color: #ffffff;
}
.footer-links-container {
	padding-bottom: 5rem;
}
.wontanara-sign {
	background-color: #000000;
	color: #ffffff;
}
.footer ul li {
	text-transform: capitalize;
	margin-bottom: 4px !important;
}
.footer .list-title {
	font-size: 17px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 600;
}
.footer a {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.204545px;
    font-weight: 300;
	color: #fafafa;
    transition: all ease 100ms;
}
.footer a:hover {
    color: #ffffff;
    font-weight: 500;
}
.wontanara-sign a:hover{
    font-weight: 500;
    color: #ffffff;
}
